<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhenhaikj.factoryside">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保存资源到SD卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <application
        android:name=".mvp.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />
            <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="3227ad117a43d540e49fc6863670a499"/>


        <provider

            android:name="androidx.core.content.FileProvider"

            android:authorities="com.zhenhaikj.factoryside.fileProvider"

            android:grantUriPermissions="true"

            android:exported="false"
            tools:replace="android:authorities">

            <meta-data

                android:name="android.support.FILE_PROVIDER_PATHS"

                android:resource="@xml/file_paths"/>

        </provider>
        <receiver android:name=".mvp.receiver.XGPushReceiver"
            android:exported="true" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>
        <receiver android:name=".mvp.receiver.HWReceiver" >
            <intent-filter>

                <!-- 必须,用于接收TOKEN -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看PUSH通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="true"
            android:name=".mvp.receiver.XMReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <activity android:name=".mvp.activity.SplashActivity"
            android:theme="@style/ThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".mvp.activity.AllWorkOrdersActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.HomeInstallationActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.HomeMaintenanceActivity"  android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.HomeMaintenanceActivity2"  android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.CustomerServiceActivity" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.BatchOrderActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.LoginActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.RegisterActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.WalletActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.WarrantyActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.RechargeActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.WorkOrderDetailsActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.BrandActivity"  android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.base.BaseActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.MainActivity" android:screenOrientation="portrait" android:theme="@style/AppThemeNoTranslucent"></activity>
        <activity android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.OpinionActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.AboutUsActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.PersonalInformationActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.SettingActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.ActivityUiDialog" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.ChageUserNameActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.ChagePasswordActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.RemoteBillActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.AccessoriesListActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.CompletionOrderActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.ArticleActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.WebActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.ModelActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.ModelChooseActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.AddModelActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.MarginActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.InvoiceActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.AccountAndSecurityActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.PaymentPasswordActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.PayPasswordActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.ScanActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.OrderMessageActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.TransactionMessageActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.ShippingAddressActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.AddAddressActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.RegisterNewActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.SubAccountManagementActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.UpgradeActivity" android:screenOrientation="portrait"  android:launchMode="singleTask" android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/dialogstyle"></activity>
        <activity android:name=".mvp.activity.DetailRecordActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.AddCardActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.VerifiedActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.WithdrawActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.CardListActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.PhotoViewActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.NewAddAccessoriesActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.SearchActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity android:name=".mvp.activity.RechargeRecordActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.SingleQuantityActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.FrozenAmountActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name=".mvp.activity.MonthlyBillActivity" android:screenOrientation="portrait"  android:launchMode="singleTask"></activity>
        <activity android:name="com.amap.searchdemo.MainActivity"
            android:launchMode="singleTask"/>


        <activity android:name=".mvp.activity.ExcelOrderActivity"
            android:launchMode="singleTask"
            />



        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->


        <!-- wx sdk begin -->

        <activity
            android:name=".mvp.wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>


        <receiver
            android:name=".mvp.wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <!-- wx sdk end -->



        <!--新浪start-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:launchMode="singleTask">
        </activity>
        <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!--新浪end-->

        <!--微信end-->
        <!--QQstart-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1108047427" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize" android:launchMode="singleTask"/>

    </application>

</manifest>